* {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(../images/banner/banner2.png);

    height: 809px;
    background-size: cover;
    background-repeat: no-repeat;
}

.h1-primary {
    position: absolute;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    width: 525px;
    height: 228px;
    top: 216px;
    left: 845px;

}

.p-primary {
    font-size: 18px;
    width: 494px;
    height: 78px;
    top: 468px;
    left: 850px;
    position: absolute;
    padding-top: 24px;
}

.btn-primary {
    background-color: #F15B22;
    width: 160px;
    ;
    height: 64px;
    top: 578px;
    left: 850px;
    border-radius: 5px;
    position: absolute;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

/* main-section start */
.main-section {
    margin: 50px;
    gap: 130px;

}


.main-title {
    font-size: 40px;
    font-weight: 700px;
    position: absolute;
    width: 288px;
    height: 94px;
    top: 1178px;
    left: 862px;

    margin-bottom: 10px;

}

.main-description {
    position: absolute;
    width: 416px;
    height: 104px;
    top: 1296px;
    left: 862px;
}

.list {
    position: absolute;

    top: 1400px;
    left: 860px;


}

.li-1 {
    padding-bottom: 8px;
}

.main-section img {
    margin: 150px;

}

/* plan styles start */
.my-plan {
    margin-top: 130px;
    text-align: center;
}

.plan-section {
    text-align: center;
    font-size: 40px;
    font-size: 700;

}

.plan-container {
    display: flex;
    margin-left: 130px;
    justify-content: space-around;
    padding-top: 130px;



}

.plan-title {
    font-size: 40px;
    font-size: 800;
    text-align: center;
    padding-top: 30px;



}

.plan-description {

    font-size: 25px;
    font-weight: 500;
    color: #737272;

    text-align: center;

}

/* image section start */
.img-section {
    margin-top: 190px;
    padding-left: 230px;
    align-items: center;
    text-align: center;




}

.img-setup {
    position: absolute;
    left: 250px;
    width: 1140px;

    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/gradient2.png');

}

.img-title {
    position: absolute;
    width: 450px;
    padding-top: 50px;
    left: 294px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}

.btn-2nd {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 294px;
    margin-top: 230px;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;

}

/* footer section start */

.background {
    position: absolute;
    background: #151414;
    width: 2000px;
    height: 400px;
    top: 3052px;
    margin-right: 0px;
    background-size: cover;
}

.future-title {

    top: 3100.3px;
    left: 230px;
    color: aliceblue;
    position: absolute;
    font-size: 40px;
    font-weight: 700;

}

.future-description {
    width: 485px;
    height: 78px;
    top: 3150.3px;
    left: 230px;
    color: #FFFFFF;
    position: absolute;
    padding-top: 16px;

}

.info-1 {
    position: absolute;
    width: 186px;
    height: 26px;
    top: 3250.3px;
    left: 230px;
    padding-bottom: 16px;
    color: #FFFFFF;
    font-size: 16px;

}

.info-2 {
    position: absolute;
    width: 186px;
    height: 26px;
    top: 3270.3px;
    left: 230px;
    padding-top: 20px;
    color: #FFFFFF;
    font-size: 16px;
}

.images {
    position: absolute;
    width: 175px;
    height: 46px;
    top: 3350.3px;
    left: 230px;


}

.footer-sub-title {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    left: 1046px;
    top: 3100px;
    color: #FFFFFF;
}

.form {
    position: absolute;
      width: 100%;
    left: 1046px;
    top: 3200.08px;
    border-radius: 5px;
   


}
input{
    height: 50px;
    text-align: center;
    background-color: Dark ;
    border: 1px solid;
    border-radius: 8px;
   
}
.btn-3rd{
    position: absolute;
    width: 100.11px;
height: 40px;
top: 3260.3px;
left: 1046px;
border-radius: 8px;
color: #F15B22;
font-size: 20;
font-weight: 600;

}